        * {
            box-sizing: border-box;
        }

        .logo img {
            width: 164px;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-family: "Segoe UI";
        }

        .right ul {
            display: flex;
            gap: 34px;
        }

        .right ul li {
            list-style: none;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .right ul li span {
            padding: 0 5px;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 20px;
            column-gap: 30px;
            margin: 50px auto;
            width: 900px;
            height: 600px;
        }

        .box {
            background-color: #f9f9f9;
            font-family: "Segoe UI";
            display: flex
;
    flex-direction: column;
    align-items: center;
        }

        .smallbox {
            background-color: #5cb85c;
            border-radius: 4px;
            padding: 10px 15px;
            cursor: pointer;
            margin: 2px;
            font-size: 13px;
            font-weight: bold;
        }
        .smallbox:hover{
            background-color: blue;
        }
        a:hover{
            color: red;
        }
        a{
            text-decoration: none;
            color: white;
        }
        .less{
            font-size: 10px;
        }
        .moreless{
            font-size: 7px;
            word-break: break-all;
        }
        @media screen and (max-width: 1145px) {
        .container{ 
        grid-template-columns: 1fr;
        }
        .box{
            width: 30vh;
            margin: 0vh auto;
        }
        .moreless{
            font-size: 4px;
            word-break: break-all;
        }
}